<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="cygwinpath" value="C:\cygwin\bin"/>
    <add key="scriptxmlpath" value="./Model/cygwinscripts.xml"/>
    <add key="codepath" value="D:\Arun\Projects\CygwinSearch\RestAPI"/>
    <add key="scriptshellpath" value="scripts"/>
    <add key="editorpath" value="C:\Program Files\Notepad++\notepad++.exe"/>
    <add key ="firsttime" value="1"/>
    
  </appSettings>
</configuration>
